@import '../../../../scss/mixins';
@import '../../../../scss/variables';

@include desktop {
  .sidebar-con {
    display: flex;
    flex-direction: column;
    background-color: $footer-color;

  }
  .sidebar-wrapper {
  }
}
