@import "../../../../scss/mixins";
@import "../../../../scss/variables";


.header-con {
  background-color: $primaryColor;
  padding: .625rem .75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-user-bt {
  display: flex;
}
.header-logo {
  color: #393939;
  font-size: 1.5rem;
  font-weight: bold;
}
.header{
  &-icon{
    width:1.5rem;
    height:1.5rem;
    color:#ffffff;
  }
  &-login{
    font-size: .875rem;
    line-height: 1.563rem;
    color:#ffffff;
  }
}
.drawer{
  &-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:14.25rem;
    padding: 2rem 0.5rem 0 0.5rem;
  }
  &-title{
    font-size: 1rem;
    line-height: 1.188rem;
    color:#101010;
    font-weight: bold;
    margin-top: 1.25rem;
  }
}