@import "../../../../scss/mixins";

@include desktop {
  .header-con {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;

    background-color: $header-color;
  }
  .header-wrap {
    height: 100%;
    max-width: $maxContentWitdh;
    margin: auto;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-user-bt {
    display: flex;
  }
  .header-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}
@include tablet {}
@include mobile {}
