@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.preview-container{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 8px;
    margin-top: -2.5rem; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}
.preview-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview-item-number{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.6875rem;
    color:#212b36;
}
.preview-item-title{
    font-size: 0.688rem;
    line-height: 1.25rem;
    color:#929699;
}