@import '../../../../scss/variables';

.profile-bottom-sheet{
    &-container{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 102px);
        align-items: center;
        padding: 24px 20px;
        overflow: scroll;
        position: relative;
    }
}
.title-container {
  margin-bottom: 40px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.sub-title-container {
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}
.sub-title {
  font-size: 20px;
  font-weight: bold;
}
.text-area {
  width: calc(100% - 40px);
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px 12px;
  font-size: 11px;
  min-height: 120px;
  margin-bottom: 32px;
  resize: none;
  color: #929699;
}
.text-area:focus-visible {
  outline: none;
}
.close-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.helper-text {
  width: 100%;
  color: #929699;
}
.apply-button {
  width: calc(100% - 40px);
  height: 48px;
  position: absolute !important;
  bottom: 56px;
  border-radius: 12px !important;
  background-color: #e5f0fb !important;
  color: #006ed9 !important;
  font-weight: bold !important;
}
.switch {
  width: 64px !important;
  height: 48px !important;
} 
.switch .MuiSwitch-switchBase {
  top: 3px !important;
}
.switch .MuiSwitch-thumb {
  width: 24px !important;
  height: 24px !important;
}
.switch .MuiSwitch-track {
  border-radius: 15px !important;
}
.switch .MuiSwitch-colorSecondary.Mui-checked {
  color:  #fff;
}
.switch .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #006ed9;
  opacity: 1;
}
.mt8{
  margin-top: 8px;
}
.ml12{
  margin-left: 12px;
}
:root {
    --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
    --rsbs-bg: #fff;
    --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
    --rsbs-max-w: auto;
    --rsbs-ml: env(safe-area-inset-left);
    --rsbs-mr: env(safe-area-inset-right);
    --rsbs-overlay-rounded: 0px;
}
[data-rsbs-overlay] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    background: var(--rsbs-bg);
    flex-direction: column;
    height: var(--rsbs-overlay-h);
    transform: translate3d(0, var(--rsbs-overlay-translate-y), 0);
    will-change: height;
  }
  [data-rsbs-overlay]:focus {
    outline: none;
  }
  [data-rsbs-is-blocking='false'] [data-rsbs-overlay] {
    box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.11),
      0 -1px 0 rgba(38, 89, 115, 0.05);
  }
  [data-rsbs-overlay],
  [data-rsbs-root]:after {
    max-width: var(--rsbs-max-w);
    margin-left: var(--rsbs-ml);
    margin-right: var(--rsbs-mr);
  }
  [data-rsbs-overlay],
  [data-rsbs-backdrop],
  [data-rsbs-root]:after {
    z-index: 3;
    overscroll-behavior: none;
    touch-action: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  [data-rsbs-backdrop] {
    top: -60px;
    bottom: -60px;
    background-color: var(--rsbs-backdrop-bg);
    will-change: opacity;
    cursor: pointer;
    opacity: 1;
  }
  [data-rsbs-is-dismissable='false'] [data-rsbs-backdrop] {
    cursor: ns-resize;
  }
  
  [data-rsbs-root]:after {
    content: '';
    pointer-events: none;
    background: var(--rsbs-bg);
    height: 1px;
    transform-origin: bottom;
    transform: scale3d(1, var(--rsbs-antigap-scale-y), 1);
    will-change: transform;
  }
  [data-rsbs-footer],
  [data-rsbs-header] {
    display: none;
    flex-shrink: 0;
    cursor: ns-resize;
    padding: 16px;
  }
  [data-rsbs-header] {
    text-align: center;
    user-select: none;
    box-shadow: 0 1px 0
      rgba(46, 59, 66, calc(var(--rsbs-content-opacity) * 0.125));
    z-index: 1;
    padding-top: calc(20px + env(safe-area-inset-top));
    padding-bottom: 8px;
  }
  [data-rsbs-header]:before {
    position: absolute;
    content: '';
    display: block;
    width: 36px;
    height: 4px;
    top: calc(8px + env(safe-area-inset-top));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: var(--rsbs-handle-bg);
  }
  @media (min-resolution: 2dppx) {
    [data-rsbs-header]:before {
      transform: translateX(-50%) scaleY(0.75);
    }
  }
  [data-rsbs-has-header='false'] [data-rsbs-header] {
    box-shadow: none;
    padding-top: calc(12px + env(safe-area-inset-top));
  }
  [data-rsbs-scroll] {
    flex-shrink: 1;
    flex-grow: 1;
    -webkit-tap-highlight-color: revert;
    -webkit-touch-callout: revert;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    overflow: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }
  [data-rsbs-scroll]:focus {
    outline: none;
  }
  [data-rsbs-has-footer='false'] [data-rsbs-content] {
    padding-bottom: env(safe-area-inset-bottom);
  }
  [data-rsbs-content] {
    /* The overflow hidden is to ensure any margin on child nodes are included when the resize observer is measuring the height */
    overflow: hidden;
  }
  [data-rsbs-footer] {
    box-shadow: 0 -1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity) * 0.125)),
      0 2px 0 var(--rsbs-bg);
    overflow: hidden;
    z-index: 1;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
  
  [data-rsbs-is-dismissable='true'],
  [data-rsbs-is-dismissable='false']:matches([data-rsbs-state='opening'], [data-rsbs-state='closing']) {
    & :matches([data-rsbs-header], [data-rsbs-scroll], [data-rsbs-footer]) > * {
      opacity: var(--rsbs-content-opacity);
    }
    & [data-rsbs-backdrop] {
      opacity: var(--rsbs-backdrop-opacity);
    }
  }
  
  [data-rsbs-state='closed'],
  [data-rsbs-state='closing'] {
    /* Allows interactions on the rest of the page before the close transition is finished */
    pointer-events: none;
  }