@import "../../../../scss/mixins";

@mixin tabButton{
    font-size: 18px;
    line-height: 26px;
    padding: 7px 42px;
    border-radius: 25px;
  }

@include desktop {
  .container{
    display: flex;
    flex:1;
    flex-direction: column;

    width: 61.5%;
    height: 100%;

    margin-top: 40px;
  }

  .rowContainer{
      display: flex;
      flex-direction: row;
      //flex:1;

      width: 100%;
  }
  .columnContainer{
    display: flex;
    flex-direction: column;
    flex:1;
  }
  .marginContainer{
      margin-left: 120px;
      //background-color: red;
  }

  .title{
      font-size: 24px;
      line-height: 35px;
      color:#1a1a1a;
  }

  //프로필 이미지 
  .profileImage{      
      width: 280px;
      height: 280px;
      background-color: #ededed;
      margin-top: 21px;
  }

  //TabBar
  .mainTabButton{

    @include tabButton();
    background-color:#0016bc;                         
    color:#ffffff;
  }
  .subTabButton{

      @include tabButton();
      background-color: #ffffff;
      color:#818181;
  }

  .titleText{
      font-size: 20px;
      line-height: 29px;
      color:#1a1a1a;
  }
  .titleExplainText{
        display: flex;

        font-size: 14px;
        line-height: 20px;
        color:#1a1a1a;

        margin-left: 20px;

        //justify-content: flex-end;
        align-items: flex-end;
  }


  //nicknameInput
  .nicknameInput{
      display: flex;
      // height: 44px;
      flex:1;
      // width: 100%;
      padding-left: 12px;
      padding-top: 10px;
      padding-bottom: 10px;

      color: black;
      font-size: 16px;
      line-height: 20px;

      border-style: solid;
      border-width: 1px;
      border-color:#c1c1c1;
  }

  //majorInputContainer
  .majorContainer{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .majorInputContainer{
    display: flex;
    flex:1;
    height: 44px;
    margin-right: 20px;
  }
  .gradeSelectionContainer{
    display: flex;
    flex:1;
    height: 44px;
  }
  .gradeSelection{
    display: flex;
    flex: 1;
  }

  //introduction
  .introductionContainer{
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-top: 40px;
  }
  .introductionTextArea{
    height: 100px;
    margin-top: 10px;
    padding: 10px 12px;

    font-size: 16px;
    line-height: 20px;
  }

  //categories
  .categoryContainer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .categoryListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .categoryItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 16px;

    border: solid;
    border-radius: 20px;
    border-color: #0016bc;
    border-width: 1px;

    margin-right: 20px;
    margin-top: 20px;

  }
  .categoryText{
    font-size: 16px;
    line-height: 28px;

    color:#0016bc;
    
  }
  .addItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 16px;

    // border: solid;
    border-radius: 20px;
    // border-color: #0016bc;
    // border-width: 1px;

    margin-right: 20px;
    margin-top: 20px;

    background-color: #ededed;
  }
  .addText{
    font-size: 16px;
    line-height: 28px;
    color:#818181;
  }

  //updateButton
  .updateButton{
    width: 380px;
    height: 56px;
    justify-content: center;
    align-items: center;

    background-color: #0016bc;

    margin-top: 100px;
    margin-bottom: 118px;

    border-radius: 28px;

    align-self: center;
  }
  .updateButtonText{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
}
@include tablet {}
@include mobile {}