@import "@scss/variables";

.common-button {
    width: 100%;
    height: 3rem;
    border-radius: 12px !important;
    font-weight: bold !important;
    background-color: $primaryColor !important;
    color: #fff !important;
    &.MuiButton-root.Mui-disabled {
        background: #ececec !important;
        color: #b4b4b4 !important;
    }
    &.secondary-button {
        background-color: $primaryLightColor !important;
        color:$primaryColor !important;
    }
}

.outline-button {
    width: 100%;
    height: 3rem;
    border: 1px solid #e2e2e2 !important;
    border-radius: 12px !important;
    color: #929699 !important;
}