@import '@scss/variables';
@import '@scss/mixins';

@include desktop{
    .my-page{
        &-container{
            display: flex !important;
            flex-direction: row !important;
            flex: 1 !important;
            justify-content: center;
            align-items: center;
            background-color: $primaryColor !important;
        }
        &-boxes{
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100%;
            max-width: $maxContentWidth !important;
            background-color: transparent !important;
            padding-bottom: 5rem !important;     
        }
    }
}

.my-page{
    &-container{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &-boxes{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        max-width: $maxContentWidth;
        background-color: $primaryColor;
        padding-bottom: 5rem !important;
    }
}