@import '../../../scss/variables';

.my-page{
    &-container{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &-boxes{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        max-width: $maxContentWidth;
        background-color: $primaryColor;
        padding-bottom: 5rem !important;
        
    }
}