@import "@scss/variables";
@import "@scss/mixins";

.study-card-container {
    width: 90% !important;
    height: 8.063rem;
    padding: 1rem 1.5rem 1.25rem 1rem;
    border-radius: .625rem;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    cursor: pointer;
    @include desktop {
        width: 100% !important;
        height: 10.063rem;
        padding: 1.063rem 1.625rem 1.375rem 1.188rem;
    }
}

.study-card-category-container {
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    margin-bottom: .5rem !important;
    @include desktop {
        margin-bottom: .438rem !important;
    }
}

.study-card-date {
    padding: 0 !important;
    margin: 0 .5rem 0 0 !important;
    background: $primaryColor;
    color: #fff;
    width: 2.688rem !important;
    height: 1.313rem;
    border-radius: .25rem;
    font-weight: bold !important;
    font-size: .75rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    @include desktop {
        width: 3.125rem !important;
        height: 1.625rem;
    }
}

.study-card-category {
    color: $primaryColor;
    font-weight: bold !important;
    @include desktop {
        font-size: .781rem !important;
    }
}

.study-card-title {
    margin-bottom: .25rem !important;
    font-size: .875rem !important;
    font-weight: bold !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80% !important;
    @include desktop {
        width: 90% !important;
        font-size: 1.094rem !important;
    }
}

.study-card-progress-container {
    padding: 0 !important;
    font-size: .875rem;
    display: flex;
    align-items: center;
}

progress {
    -webkit-appearance: none;
    width: 80% !important;
    height: .25rem;
    margin-right: 1.313rem;
    border-radius: .125rem;
    @include desktop {
        width: 88% !important;
        height: .313rem;
    }
  }
  
  ::-webkit-progress-bar {
    background-color: #ececec;
  }
  
  ::-webkit-progress-value {
    background-image: linear-gradient(to right, #ffe2ec -18%, #f78819 112%, #73787e 112%);
  }

.study-card-progress-vacancy {
    color: $primaryColor;
    font-weight: bold;
    @include desktop {
        font-size: 1.094rem !important;
    }
}

.study-card-progress-capacity {
    color: #929699;
    @include desktop {
        font-size: 1.094rem !important;
    }
}

.study-card-tag {
    color: #929699;
    font-size: .75rem !important;
    @include desktop {
        font-size: .938rem !important;
    }
}