@import "@scss/variables";

@mixin comment-item-like($color){
    color:$color;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.375rem 0.75rem;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: $color;
}

.comment-item{
    &-container{
        display: flex;
        flex-direction: row;
        padding: 1rem 1.25rem 1.5rem 1.25rem;
    }
    &-nested-bg{
        background-color: #f9f9f9;
        padding-left: 2rem;
    }
    &-img{
        border-radius: 50px;
        margin-right: 1rem;
    }
    &-column-container{
        display: flex;
        flex-direction: column;
        flex:1;
    }
    &-row-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-username{
        font-size: 0.875rem;
        color:#212b36;
        font-weight: bold;
        margin-right: 8px;
    }
    &-leader{
        font-size: 0.625rem;
        color: #0e5dd3;
        background-color: #e9eff8;
        border-radius: 10px;
        padding: 0.125rem 0.5rem;
        margin-right: 0.5rem;
    }
    &-createdat{
        font-size: 0.625rem;
        color:#b4b4b4;
    }
    &-content{
        font-size: 0.75rem;
        line-height: 1.25rem;
        color:#212b36;
        margin-top: 0.5rem;
    }
    &-comment-write{
        display: flex;
        font-size: 0.75rem;
        color:#212b36;
        padding:0px;
    }
    &-divider-dot{
        color:#b4b4b4;
        margin: 0px 0.375rem;
    }
    &-report{
        font-size: 0.75rem;
        color:#b4b4b4;
        padding: 0px;
    }
    &-bottom-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-curious{
        @include comment-item-like($primaryColor);
    }
    &-helpful{
        @include comment-item-like($primaryColor);
    }
}
.comment-list-item{
    &-container{
        border-bottom: solid;
        border-bottom-width: 4px;
        border-bottom-color: #f9f9f9;
    }
    &-more-btn{
        background-color: white;
        width: 100%;
        color: #929699;
        font-size: 0.75rem;
        align-self: center;
        text-align: center;
        padding: 12px 0px;
    }
}
