.comment-item{
    &-container{
        display: flex;
        flex-direction: row;
        padding: 16px 20px 24px 20px;
        border-bottom: solid;
        border-bottom-color: #e2e2e2;
        border-bottom-width: 4px;
    }
    &-img{
        border-radius: 50px;
        margin-right: 16px;
    }
    &-column-container{
        display: flex;
        flex-direction: column;
        flex:1;
    }
    &-row-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-username{
        font-size: 0.875rem;
        color:#212b36;
        font-weight: bold;
        margin-right: 8px;
    }
    &-leader{
        font-size: 0.625rem;
        color: #0e5dd3;
        background-color: #e9eff8;
        border-radius: 10px;
        padding: 2px 8px;
        margin-right: 8px;
    }
    &-createdat{
        font-size: 0.625rem;
        color:#b4b4b4;
    }
    &-content{
        font-size: 0.75rem;
        line-height: 1.25rem;
        color:#212b36;
        margin-top: 8px;
    }
    &-comment-write{
        display: flex;
        font-size: 0.75rem;
        color:#212b36;
        padding:0px;
    }
    &-divider-dot{
        color:#b4b4b4;
        margin: 0px 5px;
    }
    &-report{
        font-size: 0.75rem;
        color:#b4b4b4;
        padding: 0px;
    }
    &-bottom-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-like{
        color:#006ed9;
        font-size: 0.75rem;
        padding: 6px 12px;
        border-radius: 15px;
        border: solid;
        border-width: 1px;
        border-color: #006ed9;
    }
}
