.recruiting-studies{
    &-container{
        padding: 0px 16px 0px 16px;
    }
    &-title{
        font-weight: bold;
        font-size: 11px;
        color: #212b36;
        margin: 48px 0px 16px 0px;
    }
}