@mixin title(){
    font-weight: bold;
    font-size: 1rem;
    color: #212b36;
    margin: 3rem 0 1rem 0;
}

.recruiting-studies{
    &-container{
        padding: 0 1rem;
    }
    &-title{
        @include title();
    }
    &-title-blurred{
        @include title();
        color:#b4b4b4 !important;
    }
    &-closed-container{
        margin: 0 -1rem;
    }
    &-icon{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}
.mt1rem{
    margin-top: 1rem;
}