.recruiting-studies{
    &-container{
        padding: 0 1rem 0 1rem;
    }
    &-title{
        font-weight: bold;
        font-size: 0.688rem;
        color: #212b36;
        margin: 3rem 0 1rem 0;
    }
    &-closed-container{
        margin: 0 -1rem;
    }
}