@import '../../../../scss/variables';

.notifications{
    &-container{
        display: flex;
        background-color:#ffffff;
        flex-direction: column;
        margin-top: 16px;
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        padding: 12px 0px;
    };
    &-header{
        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0px 16px;
        }
        &-title{
           font-size: 12px;
           font-weight: bold;
           color: #212b36;
           line-height: 19px;
        }
        &-more{
            font-size: 11px;
            color: #929699;
            line-height: 20px;
        }
    }
}