@import '../../../../scss/variables';

.notifications{
    &-container{
        display: flex;
        background-color:#ffffff;
        flex-direction: column;
        margin-top: 16px;
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        padding: 12px 0px;
    };
    &-header{
        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0px 16px;
        }
        &-title{
           font-size: 12px;
           font-weight: bold;
           color: #212b36;
           line-height: 19px;
        }
        &-more{
            font-size: 11px;
            color: #929699;
            line-height: 20px;
        }
    }
}
.notiItem{
    &-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0px;
        margin: 0px 16px;
    }
    &-divider{
        border-bottom: solid 1px;
        border-bottom-color: #e5e5e5;
    }
    &-category-date{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-content-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-category{
        font-size: 12px;
        font-weight: bold;
        color: #0470ce;
    }
    &-date{
        margin-left: 8px;
        font-size: 9px;
        line-height: 20px;
        color: #b1b1b1;
    }
    &-title{
        font-size: 10px;
        color: #212b36;
    }
}