@import "@scss/variables";

.desktop-main-category-presenter-container {
    background: #fff;
    display: flex !important;
    max-width: 100% !important;
    height: 11.5rem;
    align-items: center;
    padding: 2.75rem 0 !important; 
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 auto !important;
    justify-content: center;
    div + div {
        margin-left: 1rem;
    }
}

.study-page-desktop-main-category-item-container {
    cursor: pointer;
    padding: 0 !important;
    text-align: center;
    width: 9.75rem !important;
    margin: 0 .8125rem !important;
    position: relative;
    p {
        font-size: 1.125rem !important;
        font-weight: bold !important;
    }
}

.study-page-desktop-main-category-item-selected{
    border: solid 4px $primaryColor !important;
}

.study-page-desktop-main-category-item-title-container {
    color: #fff;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 11, 25, 0.4) !important;
    position: absolute;
    top: 0;
    padding: 0 !important;
    width: 9.75rem; 
    height: 6rem; 
    border-radius: .75rem;
}

.study-page-desktop-main-category-item-img {
    background: #fff;
    width: 9.75rem !important;
    height: 6rem; 
    border-radius: .75rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}