@import "@scss/variables";

.dekstop-study-list-container {
    max-width: 100% !important;
    height: auto;
    padding: 0 !important;
}

.dekstop-study-list-content-container {
    display: flex !important;
    padding: 0 !important;
    margin-top: 4.75rem;
}

.desktop-study-list-content {
    padding: 0 !important;
    border-radius: .5rem;
}
