.desktop-main-page-study-list-container {
    padding: 1.688rem 1.5rem 1.5rem !important;
    background: #fff;
    border-radius: .5rem;
    > p {
        font-size: 1.313rem !important;
        font-weight: bold !important;
        margin-bottom: 2rem !important
    }
    > a > div {
        margin-bottom: 1.5rem;
    }
}