.Login-Logo{
    height: 3.625rem;;
    width: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(#101010);
}

#login{
    width: 15rem;
}  