.Login-Logo{
    height: 3.625rem;;
    width: 100%;
    margin: 5.875rem 5.563rem 3.5rem 8rem;
    font-family: NotoSansKR;
    font-size: 2.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(#101010);
    margin-left: 90vh;


}

#login{
    width: 15rem;
} 