@import '@src/scss/mixins';
@import '@src/scss/variables';

.studyCurrentStateContainer {
  display: flex;
  flex-direction: column;
  flex:1;
  margin-top: 2.5rem;
  width: 100% !important;
  max-width: calc($mobileMaxContentWidth * 4 / 5) !important;
  .studyCurrentUserContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .studyCurrentStateTitle {
      font-size: 1.125rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }
    .studyCurrentState {
      font-size: 0.75rem;
      color: #636363;
    }
  }
  .studyHost {
    margin-bottom: 2rem;
    .studyUserName {
      color: #0e5dd3;
    }
  }
  .studyUserListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    width: 100%;
    margin-top: 0.5rem;
  }
}
.ml8{
  margin-left: 0.5rem;
}
.mh20{
  padding: 0 1.25rem;
}
.mb3rem{
  margin-bottom: 3rem !important;
}
.mb8rem{
  margin-bottom: 8rem !important;
}