@import '@src/scss/mixins';
@import '@src/scss/variables';

.studyCurrentStateContainer {
  display: flex;
  flex-direction: column;
  flex:1;
  margin-top: 40px;
  width: 100vw;
  max-width: $maxContentWidth !important;
  .studyCurrentUserContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .studyCurrentStateTitle {
      font-size: 1.125rem;
      font-weight: bold;
      margin-right: 8px;
    }
    .studyCurrentState {
      font-size: 0.75rem;
      color: #636363;
    }
  }
  .studyHost {
    margin-bottom: 32px;
    .studyUserName {
      color: #0e5dd3;
    }
  }
  .studyUserListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    width: 100%;
    margin-top: 8px;
  }
}
.ml8{
  margin-left: 8px;
}
.mh20{
  padding: 0px 20px;
}