.Signup-Logo{
    width: 75%;
  height: 3.625rem;
  margin: 0 5.375rem 3.5rem;
  font-family: NotoSansKR;
  font-size: 2.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(#101010);
  margin-left: 20%;
} 