.login-footer{
  width: 50%;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 26%;
}

.sign-up{
  width: 5rem;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36rem;
  letter-spacing: normal;
  text-align: left;
  color: var(#212b36);
}

.find-pw{
  width: 5rem;
  height: 1.25rem;
  margin: 0 0 0 1.156rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36rem;
  letter-spacing: normal;
  text-align: left;
  color: var(#212b36);
} 