.login-footer{
  width: 50%;
  height: 1.25rem;
  margin: 2.5rem 4.563rem 0 15rem;
  display: flex;
  justify-content: center;
}

.sign-up{
  width: 4rem;
  height: 1.25rem;
  margin: 0 1.156rem 0 0;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36rem;
  letter-spacing: normal;
  text-align: left;
  color: var(#212b36);
}

.find-pw{
  width: 4rem;
  height: 1.25rem;
  margin: 0 0 0 1.156rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36rem;
  letter-spacing: normal;
  text-align: left;
  color: var(#212b36);
} 