.studyCategroy-b-con {
  display: flex;
  justify-content: center;
}
.studyCategroy-b-wrap {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;

  padding: 45px 0 35px 0; 
}