.studyCategroy-b-con {
  display: flex;
  justify-content: center;
}
.studyCategroy-b-wrap {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.1875rem;
  padding: 2.8125rem 0 2.1875rem 0; 
}