@import '../../../../scss/variables';

.studyItem-t {
 font-size: 16px;
 color: $studySubCategroyButtonOnTextColor;

 padding: 4px 12px;
 border-radius: 18px;

 background-color: $studySubCategroyButtonOnBackColor;

 margin-right: 20px;
  
}
.studyItem-f {
  font-size: 16px;
  
  color: $studySubCategroyButtonOffTextColor;
  
  padding: 4px 12px;
  border-radius: 18px;

  margin-right: 20px;
}