.emptyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding:32px 0px 32px 0px;
    border: dashed;
    border-width: 1px;
    border-color: #e5e5e5;
}
.emptyText{
    font-size: 0.688rem;
    color: #212b36;
}
.emptyButton{
    border-radius: 24px;
    border-width: 1px;
    border: solid;
    border-color: #4790d8;
    margin-top: 16px;
}
.emptyButtonText{
    font-size: 0.688rem;
    color: #4790d8;
    margin: 16px 56px 0px 56px;
}