.study-filter-modal-title-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.study-filter-modal-row {
    padding: 0 !important;
    margin-bottom: 1rem;
    span {
        font-weight: bold;
    }
    span.study-filter-modal-sub-text {
        font-size: 0.75rem;
        color: #929699;
        font-weight: normal;
        margin-left: 0.5rem;
    }
    > div {
        margin-top: 1rem;
    }
}
.study-filter-modal-row-flex-container {
    padding: 0 !important;
}

.study-filter-modal-row-flex-container-days {
    display: flex !important;
    .chip-container {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.study-filter-modal-row-flex-container-places {
    .chip-container {
        padding: 0.75rem 0.688rem !important;
        width: fit-content;
        display: inline !important;
        float: left;
        margin: 0 0.5rem 0.5rem 0;
    }
}

.study-filter-modal-clear-button {
    text-decoration: underline;
    color: #f78819;
    font-size: .875rem !important;
    font-weight: normal !important; 
    cursor: pointer;
    position: absolute;
    right: 1.25rem;
}