@import '../../../scss/mixins';

.StudyInfoContainer {
  padding: 0rem 1.25rem;
  color: white;
  .categoryTextContainer {
    padding-top: 3.625rem;
    margin-bottom: 2rem;
    .category {
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
      line-height: 1.25rem;
    }
    .categoryDetail {
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 0.813rem;
    }
  }
  .study-sub-info{
    &-container{
      display: flex;
      flex-direction: row;
      margin-bottom: 3.5rem;
    }
    &-title{
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: #ffffff;
    }
    &-content-con{
      display: flex !important;
      flex-direction: row !important;
    }
    &-content{
      font-size: 0.875rem;
      color: #ffffff;
      padding: 0.375rem 0.75rem;
      border-radius: 24px;
      margin-right: .5rem !important;
      background-color: rgba(254, 254, 254, 0.2);

    }
    &-ctabtn{
      border-radius: 1.5rem!important;
    }
    &-ctabtn-con{
      padding: 0rem 3.5rem !important;
      padding-bottom: 3rem !important;
    }
  } 
}
.mr16{
  margin-right: 1rem;
}