@import '../../../scss/mixins';

.StudyInfoContainer {
  padding-left: 20px;
  color: white;
  .categoryTextContainer {
    padding-top: 58px;
    margin-bottom: 32px;
    .category {
      font-size: 0.75rem;
      margin-bottom: 8px;
      line-height: 20px;
    }
    .categoryDetail {
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 13px;
    }
  }
  .study-sub-info{
    &-container{
      display: flex;
      flex-direction: row;
      margin-bottom: 56px;
      margin-top: 32px;
    }
    &-title{
      font-size: 0.75rem;
      line-height: 20px;
      color: #ffffff;
    }
    &-content{
      font-size: 0.875rem;
      color: #ffffff;
      padding: 5px 12px;
      border: solid;
      border-width: 1px;
      border-color: #bfdaf4;
      border-radius: 20px;
    }
  } 
}
.mr16{
  margin-right: 16px;
}