@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.bookmarkList{
    &-container{
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        padding-top: 0.5rem;
    }
}
.bookmark-item{
    &-bookmark{
        width: 1.5rem;
        height: 1.5rem;
        color: $primaryColor;
    }
    &-close-icon{
        width: 1.5rem;
        height: 1.5rem;
        color:#929699;
    }
    &-chip{
        font-size: .75rem !important;
        color: $primaryColor !important;
        padding: .125rem .75rem !important;
        border-radius: .625rem !important;
        border: 1px $primaryColor solid;
    }
}
.mb-438rem{
    margin-bottom: .438rem;
}


