@import '@src/scss/mixins';
@import '@src/scss/variables';

.studyAskContainer {
  background-color: $BodyBackgroundColor;
  width:100%;
  .studyAskInputContainer {
    background-color: #fefefe;
  }
  .StudyCommentsListContainer{
    margin-top: 0.625rem;
    background-color: #fefefe;
    .StudyCommentsListInfo {
      display: flex;
      align-items: flex-end;
      padding: 1rem 1.25rem 0.5rem 1.25rem;
      .StudyCommentListTitle {
        font-size: 1.125rem;
        font-weight: bold;
        margin-right: 0.5rem;
        color:#212b36;
      }
      .StudyCommentListCount {
        font-size: 0.75rem;
        color: #929699;
      }
    }
  }
}