@import '../../../scss/variables';

.search-b-con {
  height: 10rem;
  margin-top: 2.75rem;
  padding: .375rem;
}
.search-b-wrap {
  height: 100%;
}
.search-b-toolBar {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 3.125rem;
}
.search-b-bar-con {
  width: 100%;
  display: flex;
  
}
.search-b-bar {
  padding: 0;
  height: 100%;
  border: none;
  flex-grow: 1;
  margin-right: .25rem;

  border-radius: 0.5rem 0 0 0.5rem;

}
.search-b-bar-bt {
  padding: 0;
  height: 100%;
  width: 8.8125rem;

  border-radius: 0 0.5rem 0.5rem 0;
  background-image: linear-gradient(139deg, #165a9b -29%, rgba(23, 91, 156, 0.99) 13%, rgba(65, 132, 194, 0.38) 282%);
}
.search-b-dropdown-con {
  display: flex;
}

.search-bar-request-con {
  display: flex;
  justify-content: center;
  
}
.search-bar-request-info {
  display: flex;
}