@import "@scss/variables";

.mobile-main-page-image-container {
    background: linear-gradient(to top, #306eea 95%, #3877ec 73%, #81c7ff 12%);
    position: relative;
    padding: 0 !important;
    height: 38.25rem;
}

.mobile-main-page-image {
    position: absolute;
    bottom: 6.313rem;
}

.mobile-main-page-title {
    position: absolute;
    top: 4rem;
    right: .5rem;
}

.mobile-main-page-main-category-container {
    background: #fff;
    margin: .5rem 0;
    > p {
        font-weight: bold;
        font-size: .875rem;
    }
    padding: 1.5rem 1rem 1rem !important; 
    height: 9.438rem;
}

.mobile-main-page-main-category-item-container {
    padding: 0 !important;
    margin-top: 1.5rem;
    display: flex !important;
    overflow-x: scroll;
    > div + div {
        margin-left: .5rem !important;
    }
}

.mobile-main-page-study-list-container {
    > p { 
        font-weight: bold;
        font-size: .875rem;
        margin-bottom: 1.5rem;
        padding: 0 1.25rem;
    }
    > a > div {
        margin-bottom: 1rem;
    }
    background: #fff;
    padding: 1.5rem .25rem !important; 
}

// MainCategoryItem

.mobile-main-category-item-container {
    padding: 0 !important;
    margin: 0 !important;
    width: 6.75rem !important;  
    position: relative;
    > div {
        display: flex;
        justify-content: center;
        background-color: rgba(2, 27, 56, 0.6);
        position: absolute;
        top: 0;
        padding: 0 !important;
        width: 6.75rem; 
        height: 4rem; 
        border-radius: 1rem;
    }
}

.mobile-main-category-item-img {
    width: 6.75rem; 
    height: 4rem; 
    border-radius: 1rem;
}

.mobile-main-category-item-title {
    color: #fff;
    align-items: center !important;
}