.portal-ID{
  width: 320px;
  height: 44px;
  margin: 56px 0 8px;
  padding: 10px 231px 10px 12px;
  border-radius: 6px;
  border: solid 1px var(--normal);
  background-color: var(--fefefe);
}

.portal-PD{
  width: 320px;
  height: 44px;
  margin: 8px 0 48px;
  padding: 10px 249px 10px 12px;
  border-radius: 6px;
  border: solid 1px var(--normal);
  background-color: var(--fefefe);
}

.login-btn{
    width: 320px;
  height: 48px;
  margin: 48px 0 40px;
  padding: 12px 137px 12px 139px;
  border-radius: 6px;
  background-color: var(--invalid-name);
}