.inputbase{
    &-container{
        display: flex;
        flex-direction: row;
        padding: 1.5rem 1.25rem 1rem 1.25rem;
        width: auto;
    }
    &-img{
        border-radius: 50px;
        margin-right: 1rem;
    }
    &-input{
        flex-grow: 1 !important;
        font-size: 0.75rem !important;
        padding: 0.75rem !important;
        background-color: #f2f3f5 !important;
        border-radius: .375rem !important;
        border: none !important;
        ::placeholder{
            color: #929699 !important;
        }
    }
    
}
