@import "/src/scss/variables";

@mixin status($backgroundColor, $textColor){
    padding: 0.5625rem 0.75rem;
    background-color: $backgroundColor;
    border-radius: 18px;
    font-size: 0.688rem;
    color: $textColor;
    margin-right: 2.75rem;
}

.closed-applied-study-item{
    &-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding: 1rem 1.25rem;
        border: solid;
        border-color: #e5e5e5;
        border-width: 1px;
    }
    &-column-container{
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }
    &-row-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-title{
        font-size: 0.875rem;
        color:#929699;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
    }
    &-subtext{
        font-size: 0.688rem;
        color:#b1b1b1;
    }
    &-divider-dot{
        margin: 0 0.3125rem;
        color: #e5e5e5;
    }
    &-status{
        &-accepted{
            @include status(#4790d8, #f9f9f9);
        }
        &-closed{
            @include status(#f2f3f5, #212b36);
        }
    }
}