@import "@scss/variables";

.sub-category-presenter-container {
    padding: 0 !important;
    background: #fff;
}

.sub-category-presenter-item-container {
    padding: 1rem 1rem 1.5rem !important;
}

.sub-category-item-container {
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    div {
        margin: 0 !important;
    }
}

.sub-category-item-span {
    font-size: .625rem;
    font-weight: bold;
    &.selected {
        color: $primaryColor;
    }
}