@import "@scss/variables";

.sub-category-collapsed-presenter-container {
    padding: .75rem .75rem;
    position: sticky;
    top: 2.5rem;
    background: #fff;
    display: flex !important;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08);
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    svg {
        color: $primaryColor;
    }
}

.sub-category-presenter-container {
    padding: 0 !important;
    background: #fff;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08);
}

.sub-category-presenter-item-container {
    padding: 1rem 1rem 1.5rem !important;
}

.sub-category-collpsed-item-container {
    padding: 0 !important;
    width: fit-content !important;
    margin: 0 .5rem 0 0 !important;
}

.sub-category-item-container {
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    div {
        margin: 0 !important;
    }
}

.sub-category-item-span {
    font-size: .75rem;
    font-weight: bold;
    &.selected {
        color: $primaryColor;
    }
}