.signup-portal{
  width: 100%;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signportal-id{
  width: 90%;
  height: 2.75rem;
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 10rem 1rem 0rem;
  border-radius: 6px;
  border: solid 2px #e2e2e2;
  box-sizing: border-box;
  // background-color: var(#fefefe);
}

.signportal-pd{
  width: 90%;
  height: 2.75rem;
  padding: 1rem 10rem 1rem 0rem;
  border-radius: 6px;
  border: solid 2px #e2e2e2;
  box-sizing: border-box;
  // background-color: var(#fefefe);
}

.signup-btn{
  display: inline-block;
  width: 50%;
  height: 3rem;
  margin: 3rem 5rem 3rem;
  padding: 0.75rem 0rem 0.75rem 0rem;
  border-radius: 10px;
  background-color: #006ed9 !important;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.forgotten-btn{
  width: 100%;
  height: 3rem;
  // margin: 1rem 0 10.094rem;
  padding: 0.875rem 4.813rem;
  // background-color: #fefefe;
}

Link{
  color: white;
  font-weight: bold;
}