@import '../../../../scss/mixins';

@include desktop{
    .container{
        display: flex;
        flex-direction: column;
        width: 61.5%;

        // background-color: red;
    }

    .header{
        font-size: 32px;
        line-height: 46px;
        color: #1a1a1a;
    }
}

@include tablet{}
@include mobile{}