.desktop-main-page {
    padding: 0 !important;
    max-width: 100% !important;
    border-top: 1px solid #fff;
}

.desktop-main-page-container {
    padding: 0 !important;
    display: flex !important;
}