@import "@scss/variables";

.desktop-main-banner {
    width: 100% !important;
    padding: 4.813rem calc((100% - 1280px)/2) 0rem !important;
    color: #fff;
    margin-bottom: 2.5rem;
    max-width: 100% !important;
    background-image: url('../../../../assets/img/illustration/mainBg.svg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    > div { 
        display: flex !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    > p {
        font-size: 1.438rem !important;
        font-weight: bold !important;
        margin-bottom: 1.5rem !important; 
    }
}

.desktop-main-banner-category-container {
    padding: 0 !important;
    width: 29rem !important;
}

.desktop-main-banner-image-container {
    padding: 0 !important;
    width: 24.375rem !important;
    margin-left: 6.688rem !important;
}

.desktop-main-banner-image{
    width: 24.375rem !important;
}