@import "@scss/variables";

.desktop-main-banner {
    display: flex !important;
    width: 100% !important;
    padding: 4.813rem calc((100% - 1280px)/2) 0 !important;
    color: #fff;
    margin-bottom: 2.5rem;
    max-width: 100% !important;
    background-image: linear-gradient(176deg, #306eea 10%, #3877ec 29%, #81c7ff 82%);
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.desktop-main-banner-title-container {
    display: flex !important;
    flex-direction: column;
    padding: 0 0 3rem 0 !important;
    margin: 0 !important;
    > div {
        padding: 0 !important;
    }
    > p {
        font-size: 2.375rem !important;
        font-weight: bold !important;
        margin: 0 !important; 
    }
}

.desktop-main-banner-title-img{
    width:19.438rem !important;
    height: auto !important;
}

.desktop-main-banner-category-container {
    margin-top: 3.375rem;
    padding: 0 !important;
    width: 29rem !important;
}

.desktop-main-banner-image-container {
    display: flex !important;
    padding: 0 !important;
    width: 24.375rem !important;
    margin-left: 6.375rem !important;
}

.desktop-main-banner-image{
    width: 24.375rem !important;
}