@import '../../../../scss/variables';
.footer{
  &-con {
    width: 100% !important;
  }
  &-wrap{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: $maxContentWidth !important;
    margin: auto !important;
  }
  &-row{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-top: 2rem !important;
    padding-bottom: .719rem !important;
    border-bottom: 1px #929699 solid !important;
  }
  &-title{
    font-size: .75rem !important;
    font-weight: 500 !important;
    color: #636363 !important;
  }
  &-subtitle{
    font-size: .75rem !important;
    font-weight: normal !important;
    color: #929699 !important;
  }
}
.mt_719rem{
  margin-top: .719rem !important;
}
.mt_75rem{
  margin-top: .75rem !important;
}
.mb3rem{
  margin-bottom: 3rem !important;
}
.mh3rem{
  margin:0 3rem !important;
}