@import "@scss/variables";
@import "@scss/mixins";

.study-sort-filter-presenter-container {
    display: flex !important;
    justify-content: space-between;
    height: 3rem;
    padding: 0 .75rem !important;
    border-bottom: 1px solid #929699;
    margin-bottom: 1.969rem;
}

.study-sort-filter-presenter-container-sort {
    font-size: .75rem;
    cursor: pointer;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    span {
        margin-right: .25rem;
    }
}

.study-sort-filter-presenter-container-filter {
    color: $primaryColor;
    font-size: .75rem;
    font-weight: bold;
    border: 1px solid $primaryColor;
    border-radius: 20px; 
    width: 4.875rem !important;
    height: 2rem;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    svg {
        margin-right: .5rem;
    }
    &.enabled {
        color: #fff;
        background-color: $primaryColor;
    }
}

.study-sort-filter-presenter-filter-chip {
    width: 1.5rem !important;
    height: 1.5rem;
    border: 1px solid $primaryColor;
    border-radius: 20px;
    color: $primaryColor;
    font-weight: bold !important;
    font-size: .8rem;
    position: absolute;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    right: -0.5rem;
}