@import "@scss/variables";
@import "@scss/mixins";

.study-sort-filter-presenter-container {
    display: flex !important;
    justify-content: space-between;
    height: 3rem;
    padding: .5rem .75rem !important;
    @include desktop {
        margin-top: 1.625rem;
    }
}

.study-sort-filter-presenter-container-sort {
    font-size: .75rem;
    cursor: pointer;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    span {
        margin-right: .25rem;
    }
}

.study-sort-filter-presenter-container-filter {
    color: $primaryColor;
    font-size: .75rem;
    font-weight: bold;
    border: 1px solid $primaryColor;
    border-radius: 20px; 
    width: 4.875rem !important;
    height: 2rem;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    svg {
        margin-right: .5rem;
    }
}