@import "@scss/variables";

.mobile-main-category-presenter-container {
    background: $primaryColor;
    display: flex !important;
    padding: 1rem 1.5rem .75rem !important;
    height: 8.313rem;
    div + div {
        margin-left: .75rem;
    }
    overflow: auto;
}

.study-page-mobile-main-category-item-container {
    cursor: pointer;
    padding: 0 !important;
    text-align: center;
    display: inline-block !important;
    width: 6.125rem !important;
    p {
        font-size: .75rem !important;
        font-weight: bold !important;
        color: #fff;
        margin-top: .5rem;
    }
}

.study-page-mobile-main-category-item-img {
    background: #fff;
    width: 6.125rem;
    height: 4.375rem; 
    border-radius: .75rem;
}