@import "@scss/variables";

.mobile-main-category-presenter-container {
    background-color: #fff;
    display: flex !important;
    padding: 1.25rem 1rem !important;
    height: 6.5rem;
    div + div {
        margin-left: .5rem;
    }
    overflow: auto;
}

.mobile-main-category-item-img {
    width: 6.5rem; 
    height: 4rem; 
    border-radius: .75rem;
}

.study-page-mobile-main-category-item-container {
    cursor: pointer;
    padding: 0 !important;
    text-align: center;
    display: inline-block !important;
    position: relative;
    > div {
        display: flex;
        justify-content: center;
        background-color: rgba(2, 27, 56, 0.6);
        position: absolute;
        top: 0;
        padding: 0 !important;
        width: 6.75rem; 
        height: 4rem; 
        border-radius: .75rem;
        > p {
            color: #fff;
            font-size: .75rem;
            font-weight: bold;
            align-self: center;
        }
    }
}