@import '../../../scss/variables';

@mixin title($color){
    font-size: 1rem;
    font-weight: bold;
    color: $color;
}
@mixin chip($bgcolor, $fontColor) {
    font-size: .75rem !important;
    padding: .125rem .75rem !important;
    border-radius: .625rem !important;
    border: 1px $primaryColor solid !important;
    background-color: $bgcolor !important;
    color: $fontColor !important;
}

.applied-studies{
    &-container{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0px 1.25rem;
    }
    &-title{
        @include title(#212b36);
    }
    &-chip-con{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
    }
    &-chip{
        @include chip(white, $primaryColor);
    }
    &-chip-filled{
        @include chip($primaryColor, white);
    }
    &-chip-disabled{
        @include chip(#f9f9f9, #929699);
        border: none !important;
    }
    &-menu{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    &-accordian{
        &-container{
            display: flex;
            flex-direction: row;
            padding: 0.25rem 0.5rem 0.25rem 1rem;
            justify-content: space-between;
            align-items: center;
            align-self: center;
            border: solid;
            border-radius: 15px;
            border-width: 1px;
            border-color: #e5e5e5;
            background-color: #ffffff;
            margin-top: 2rem;
        }
        &-text{
            font-size: 0.688rem;
            color: #929699,
        }
    }
    &-closed{
        &-title{
            @include title(#b4b4b4);
            margin-top: 3.5rem;
            margin-bottom: 1rem;
        }
    }
}
.mt2rem{
    margin-top: 2rem !important;
}
.mb16{
    margin-bottom: 1rem;
}
.ml_25rem{
    margin-left: .25rem !important;
}