@import '../../../scss/variables';

@mixin title($color){
    font-size: 1rem;
    font-weight: bold;
    color: $color;
}

.applied-studies{
    &-container{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0px 1.25rem;
    }
    &-title{
        @include title(#212b36);
    }
    &-accordian{
        &-container{
            display: flex;
            flex-direction: row;
            padding: 0.25rem 0.5rem 0.25rem 1rem;
            justify-content: space-between;
            align-items: center;
            align-self: center;
            border: solid;
            border-radius: 15px;
            border-width: 1px;
            border-color: #e5e5e5;
            background-color: #ffffff;
            margin-top: 2rem;
        }
        &-text{
            font-size: 0.688rem;
            color: #929699,
        }
    }
    &-closed{
        &-title{
            @include title(#637381);
            margin-top: 2rem;
        }
        &-list-container{
            display: flex;
            flex-direction: column;
            margin: 1rem -1.25rem;
        }
    }
}
.mt40{
    margin-top: 2.5rem;
}
.mb16{
    margin-bottom: 1rem;
}