@import '../../../scss/variables';

.sub-c-con {
  height: 6rem;

  border-radius: 4px;

  box-shadow: 0 2px 4px 0 #acacac;
  background-color: $studySubCategoryListBackgroundColor;
  margin-top: 2rem;
} 

.sub-c-wrap {
  padding: 0.75rem 1.25rem;
}