@import '@scss/mixins';
@import '@scss/variables';

.my-btns{
    &-container{
        display: flex;
        flex:1;
        flex-direction: column;
        margin-top: 1rem !important;
        margin: 0 1.25rem;
        background-color: #ffffff;
        border-radius: .5rem !important;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        @include desktop{
            border: solid 1px $primaryColor !important;
        }
    }
}
.navigation-item{
    &-container{
        display: flex;
        padding: 1.25rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-label{
        font-size: 0.75rem;
        line-height: 1.1875rem;
        font-weight: bold;
        color: #212b36;
    }
}