.Login-Logo{
    height: 58px;
    width: 110px;
    margin: 500px 400px 200px 105px;
    font-family: NotoSansKR;
    font-size: 4.0rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--invalid-name);
}