@import '../../../scss/mixins';

.studyContentContainer {
  background-color: white;
  border-radius: 10px 10px 0 0;

  .studyContentButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 12px 0px 12px;

    position: sticky;
    top: $headerHeight_m + $backButtonHeight;

    background-color: white;
    button {
      height: 44px;
      flex-grow: 1;
      border-bottom: solid #e5e5e5 2px;
      font-size: 12px;
      font-weight: bold;
      color: #929699;
    }
    .clicked {
      color: black;
      border-bottom: solid black 2px;
    }
  }
  .content {
    padding: 0 24px;
    .studyTimeViewedAnd {
      display: flex;
      flex-direction: row;
      font-size: 11px;
      margin-top: 32px;
      color: $StudyDetailInfoColor;
    }
    .studyTitle {
      font-size: 20px;
      font-weight: bold;
      margin-top: 8px;
      color: $StudyDetailTitleTextColor;
    }
    .studyContent {
      margin-top: 32px;
      font-size: 12px;
      color: $StudyDetailContentTextColor;
      line-height: 1.67;
      text-align: left;
    }
    .study-apply-btn{
      display: flex;
      position: absolute;
      bottom: 48px;
      align-self: center;
      background-color: #006ed9;
      padding: 12px 0px;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      border-radius: 12px;
      box-shadow: 0px 4px 20px 0px rgba(18, 73, 155, 0.35);
      width: calc(100vw - 48px);
      justify-content: center;
      align-items: center;
    }
  }
}
.mh5{
  margin:0px 5px;
}