@import '@src/scss/mixins';
@import '@src/scss/variables';

.studyContentContainer {
  background-color: white;
  border-radius: .75rem .75rem 0 0 !important;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.08) !important;
  @include desktop{
    flex: 4 !important;
    border-radius: .75rem !important;
    margin-bottom: 10.688rem !important;
    margin-right: .75rem !important;
  }
  
  .studyContentButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0.75rem;
    background-color: white;
    button {
      height: 2.75rem;
      flex-grow: 1;
      border-bottom: solid #e5e5e5 2px;
      font-size: 0.75rem;
      font-weight: bold;
      color: #929699;
    }
    .clicked {
      color: $primaryColor;
      border-bottom: solid $primaryColor 2px;
    }
  }
  .content {
    width: 100%;
    padding-bottom: 9.313rem;
    .diff-date{
      &-container{
        background-color: $primaryLightColor;
        width: 100%;
        padding: .875rem 0rem;
        margin-top: 1.469rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &-d-day{
        color:$primaryColor;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: bold;
      }
      &-text{
        color:$primaryColor;
        font-size: .75rem;
        line-height: 1.25rem;
        margin-left: .5rem;
      }
      &-end{
        font-size: .75rem;
        line-height: 1.25rem;
        color:#b4b4b4;
        width: 100%;
        background-color: #ececec;
        padding: .875rem 0rem;
        margin-top: 1.469rem;
        text-align: center;
      }
    }
    .studyTimeViewedAnd {
      display: flex;
      flex-direction: row;
      font-size: 0.75rem;
      margin-top: 2rem;
      color: $StudyDetailInfoColor;
    }
    .studyTitle {
      font-size: 1.25rem;
      font-weight: bold;
      margin-top: 0.5rem;
      color: $StudyDetailTitleTextColor;
    }
    .studyContent {
      margin-top: 2rem;
      font-size: 0.75rem;
      color: $StudyDetailContentTextColor;
      line-height: 1.67;
      text-align: left;
    }
  }
}
.mh5{
  margin:0px 0.313rem;
}