@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.container{
    display: flex;
    flex-direction: column;
    max-width: $maxContentWitdh;
    background: linear-gradient(#176ddd, #a1c5ee);
    padding: 0px $horizontalPadding;
    padding-top: 50px;
    align-items: center;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 100%;
}
.profilePhoto{
    display: flex;
    width: 64px;
    height: 64px;
    margin-top: 32px;
    border-radius: 50px;
    border: 3px solid #176ddd; 
    outline: 3px solid #ffffff;
}
.userName{
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
    line-height: 11px;
    color: #ffffff;
}
.userNameSuffix{
    font-size: 16px;
    line-height: 11px;
    color:#f2f2f2;
}
.myProfileBtnText{
    font-size: 11px;
    line-height: 19px;
    color:#f2f2f2;
    margin-top: 8px;
    align-items: center;
    margin-bottom: 68px;
}