@import '../../../scss/mixins';

.container{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding-top: 8px;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9px;
    margin-bottom: 32px;
}
.horizontalBar{
    width: 6px;
    height: 22px;
    background-color: #1a1a1a;
}
.title{
    margin-left: 5px;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
}
.count{
    font-size: 17px;
    line-height: 24px;
    color:#025db5;
}
.bookmarkItemContainer{
    display: flex;
    padding: 16px;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 0px 2px 
    rgba(0, 0, 0, 0.12);
    margin: 0px 12px 8px 12px;
    border-radius: 8px;
}
.blurredBookmarkItemContainer{
    display: flex;
    padding: 16px 20px 16px 20px;
    background-color: #ffffff;
    flex-direction: column;
    border-bottom: solid;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 2px;
}
.bookmarkItemCategory{
    font-size: 11px;
    color: #4790d8;
    margin: 32px 0px 16px 16px;
    font-weight: bold;
}
.bookmarkItemMidContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
}
.bookmarkItemTitle{
    font-size: 14px;
    line-height: 20px;
    color: #636363;
    flex-shrink: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bookmarkItemCount{
    font-size: 14px;
    line-height: 20px;
    color: #929699;
    padding-right: 34.5px;
    padding-left: 28px;
}
.bookmarkItemBottomContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
    font-size: 11px;
    line-height: 16px;
    color:#b1b1b1
}
.bookmarkItemDividerDot{
    margin-left: 5px;
    margin-right: 5px;
    color:#c1c1c1;
}
.recruitedStudiesTitle{
    font-size: 11px;
    color: #637381;
    margin-top: 36px;
    margin-left: 12px;
}