@import '../../../scss/mixins';

@mixin paginationButton($color){
    font-size: 16px;
    line-height: 21px;
    color:$color;
}

@include desktop{
    .container{
        display: flex;
        flex: 1;
        flex-direction: column;

        width: 61.5%;
    }
    
}

@include tablet{}
@include mobile{}
