@import '../../../scss/mixins';

.bookmark-presenter-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.recruitedStudiesTitle{
    font-size: 0.688rem;
    color: #637381;
    margin-left: .75rem;
}
.recruitedAccordian{
    display: flex;
    flex-direction: row;
    padding: 0.3125rem 0.5rem 0.3125rem 1rem;
    align-self: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    margin-bottom: 2rem;
    color:#929699;
    font-size: 0.688rem;;
}