@import '../../../scss/mixins';

.bookmark-presenter-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin:0 1rem;
}
.bookmarkStudiesTitle{
    font-size: 1rem;
    color: #212b36;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: bold;
}
.recruitedStudiesTitle{
    font-size: 1rem;
    color: #b4b4b4;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.recruitedAccordian{
    display: flex;
    flex-direction: row;
    padding: 0.3125rem 0.5rem 0.3125rem 1rem;
    align-self: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    margin-bottom: 2rem;
    color:#929699;
    font-size: 0.688rem;;
}
.bookmark-chevron-icon{
    width: 1rem;
    height: 1rem;
    margin-left: .406rem;
    color:#929699;
}