@import "@scss/variables";

.chip-container {
    padding: 0 !important;
    background: #fff;
    color: #929699;
    font-size: 0.875rem;
    height: 2.75rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 22px;
    &.selected {
        background: $primaryColor;
        color: #fff;
    }
}

.secondary-chip-container {
    width: fit-content !important;
    padding: .5rem .75rem !important;
    color: #101010;
    font-size: .625rem;
    font-weight: bold;
    height: 1.875rem;
    border-radius: 15px;
    &.selected {
        color: $primaryColor;
        background: #fff;
        border: 1px solid $primaryColor;
    }
}