@import "../../../../scss/mixins";
@import "../../../../scss/variables";

@include desktop {
  .upper-content-con {
    width: 100%;
    height: 400px;
    background-color: $footer-color;
    margin-bottom: 80px;
  }
  .upper-content-wrap {}
}
@include tablet {}
@include mobile {}