@import '../../../../../scss/mixins';

.studyUserItemContainer{
  display: flex;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.08);
  .profileImg {
    width: 40px;
    height: 40px;
  }
  .userInfoContainer{

  }
}