@import '../../../../../scss/mixins';

.study-user-item{
  &-container{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #ffffff;
    min-width: 11.5rem;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    align-items: center;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    > button {
      position: absolute;
      right: 1.5rem;
    }
  }
  &-img-con{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  &-username{
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #212b36;
  }
  &-intro{
    margin-top: 1.5rem;
    font-size: 0.625rem;
    line-height: 1rem;
    color:#929699;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8.5rem;
    max-lines: 2;
    text-align: center;
  }
  &-accept-btn{
    background-color: $primaryColor !important;
    border-radius: 1.5rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
    font-size: .75rem !important;
  }
}