@import '@scss/variables';
@import '@scss/mixins';

@mixin title{
    font-weight: bold !important;
    font-size: 1.25rem !important;
    color: #101010 !important;
}

@mixin subtitle {
    font-size: .75rem !important;
    color: #929699 !important;
    margin-top: .25rem !important;
}

@mixin round-btn{
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: .75rem !important;
    &:hover{
        cursor: pointer !important;
    }
}

.edit-study-modal{
    &-title{
        @include title();
    }
    &-subtitle{
        @include subtitle();
    }
    &-header{   
        &-con{
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            background-color: $primaryColor !important;
            padding: .688rem .75rem !important;
        }
        &-close-icn{
            width: 1.5rem !important;
            height: 1.5rem !important;
        }
        &-title{
            font-size: 1rem !important;
            font-weight: bold !important;
            line-height: 1.563rem !important;
            color: #ffffff !important;
        }
    }
    &-tab{
        &-con{
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            padding: .625rem .5rem !important;
            border-bottom: 1px solid #e2e2e2 !important;
        }
        &-btn{
            padding: .438rem .5rem !important;
            background-color: transparent !important;
            color: #636363 !important;
            border-radius: 0.9375rem !important;
        }
        &-btn-selected{
            background-color: $primaryLightColor !important;
            color: $primaryColor !important;
        }
    }
    &-body{
        &-con{
            padding: 1.469rem 1.25rem !important;
        }
        &-row{
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: space-between !important;
        }
        &-col{
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
        }
        &-divider{
            background-color: #f2f2f2 !important;
            height: .5rem !important;
            width: calc(100% + 2.5rem) !important;
            margin: 1.5rem 0 !important;
            margin-left: -1.25rem !important;
        }
        &-round-btn{
            @include round-btn();
            background-color: $primaryColor !important;
        }
        &-round-outline-btn{
            @include round-btn();
            background-color: #ffffff !important;
            border: 1px solid $primaryColor !important;
        }
        &-btn-disabled{
            @include disabled-btn();
        }
        &-content{
            &-header{
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-between !important;
                align-items: center !important;
            }
            &-title-input{
                width: 100% !important;
                margin-top: 1rem !important;
            }
        }
    }
    &-date-picker{
        padding: .625rem !important;
        border-radius: .375rem !important;
        border: 1px solid #e2e2e2 !important;
        font-size: 1rem !important;
        color: #212b36 !important;
        &:focus{
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12) !important;
            border: solid 1px #b4b4b4 !important;
            outline: none !important;
        }
    }
    &-cta-btn{
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12) !important;
        margin: 4.125rem 1.25rem 2rem 1.25rem !important;
        width: calc(100% - 2.5rem) !important;
    }
}
.mh1rem{
  margin: 0 1rem !important;  
}
.mt1rem{
    margin-top: 1rem !important;
}
.mt2rem{
    margin-top: 2rem !important;
}