@import '@scss/variables';

.edit-study-modal{
    &-header{
        &-con{
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            background-color: $primaryColor !important;
            padding: .688rem .75rem !important;
        }
        &-close-icn{
            width: 1.5rem !important;
            height: 1.5rem !important;
        }
        &-title{
            font-size: 1rem !important;
            font-weight: bold !important;
            line-height: 1.563rem !important;
            color: #ffffff !important;
        }
    }
    &-tab{
        &-con{
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            padding: .625rem .5rem !important;
            border-bottom: 1px solid #e2e2e2 !important;
        }
        &-btn{
            padding: .438rem .5rem !important;
            background-color: transparent !important;
            color: #636363 !important;
            border-radius: 0.9375rem !important;
        }
        &-btn-selected{
            background-color: $primaryLightColor !important;
            color: $primaryColor !important;
        }
    }
}