@import '@scss/variables';
@import '@scss/mixins';

.study-post-modal{
    &-header{
        &-con{
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            background-color: $primaryColor !important;
            padding: 1rem .75rem !important;
        }
        &-title{
            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold !important;
        }
    }
    &-body{
        &-con{
            padding: 0 2rem !important;
        }
    }
    &-icon{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    &-category{
        &-header{
            margin: 0 -2rem !important;
            background-color: $primaryColor !important;
            padding: 4rem 1.25rem 2rem 1.25rem !important;
        }
        &-text{
            font-size: 1rem !important;
            color: #ffffff !important;
            line-height: 1.875rem !important;
        }
        &-bold-text{
            font-size: 1.25rem !important;
            font-weight: bold !important;
            line-height: 1.875rem !important;
            color: #ffffff !important;
            margin-top: .25rem !important;
        }
    }
    &-category{
        &-grid-con{
            padding: 2rem  0 !important;
        }
        &-item{
            &-con{
                display: flex !important;
                width: calc(100% - 1rem) !important;
                aspect-ratio: 1 !important;
                justify-content: center !important;
                align-items: center !important;
                border-radius: .75rem !important;
                margin-bottom: 1rem !important;
            }
            &-con-selected{
                border: 4px solid $primaryColor;
            }
            &-text{
                font-size: .875rem !important;
                line-height: .813rem !important;
                color: #f9f9f9 !important;
                font-weight: bold !important;
            }
        }
    }
    &-cta{
        &-con{
            position: fixed !important;
            width: 100% !important;
            bottom:2rem !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            margin: 2rem 0 !important;
            @include desktop{
                position: static !important;
            }
        }
        &-btn{
            display: flex !important;
            width: calc(100% - 2.5rem) !important;
            margin: 0 1.25rem !important;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08) !important;
        }
    }
}
.flex1{
    flex: 1 !important;
}
.flex2{
    flex: 2 !important;
}