@import "@scss/variables";

@mixin profile-img(){
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  align-self: center;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.16);
  background-color: white !important;
  margin-top: 2rem !important;
}

.profile-bottom-sheet{
    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.5rem;
        overflow-y: scroll;
        max-height: calc(100vh - 12.75rem);
        overflow-x: hidden !important;
        z-index: 3000 !important;
    }
    &-profile-img{
        @include profile-img();
    }
    &-profile-img-popup{
      width: 4rem;
      height: 4rem;
      aspect-ratio: 1;
      border-radius: 2rem;
      margin-top: 2rem !important;
    }
    &-name{
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 0.6875rem;
        color: #212b36;
        margin-top: 3rem;
    }
    &-short-about{
        font-size: 0.688rem;
        line-height: 1.25rem;
        color:#6c757d;
        margin-top: 0.5rem;
    }
    &-tag{
        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1.5rem;
        }
        &-item{
            padding: 0.5rem 0.75rem;
            border-radius: 16px;
            background-color: #f1f6fb;
            font-size: 0.75rem;
            font-weight: bold;
            color: #126bb7;
        }
    }
    &-divider{
        background-color: #e5e5e5;
        height: 1px;
        width: calc(100vw - 7.375*2rem);
        margin: 2rem 7.375rem 0 7.375rem;
        max-width: 35%;
    }
    &-hashtag{
        &-container{
            display: flex;
            margin-top: 2rem;
            flex-flow: row wrap;
        }
        &-bold-text{
            font-size: 0.875rem;
            font-weight: bold;
            color: #212b36;
        }
        &-regular-text{
            font-size: 0.875rem;
            font-weight: normal;
            color:#929699;
        }
    }
    &-link{
        &-container{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            align-items: center;
        }
    }
    &-about{
        &-title{
            font-size: 1.125rem;
            font-weight: bold;
            color:#212b36;
            margin-top: 2rem;
        }
        &-text{
            margin-top: 2rem;
            font-size: 0.75rem;
            line-height: 18px;
            color:#636363;
        }
    }
    &-close-cta-btn{
      display: flex;
      flex-direction: column;
      align-self: center;
      position: sticky;
      bottom: 0;
      margin-bottom: 2rem !important;
      background-color: $primaryColor;
      border-radius: 24px;
      padding: 0.875rem 0;
      margin: 0 4.5rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      color: #ffffff;
      font-weight: bold;
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.16);
      z-index: 2;
    }
}

.mt8{
  margin-top: .5rem;
}
.ml12{
  margin-left: .75rem;
}
.pb150{
  padding-bottom: 9.375rem;
}
:root {
    --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
    --rsbs-bg: #fff;
    --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
    --rsbs-max-w: auto;
    --rsbs-ml: env(safe-area-inset-left);
    --rsbs-mr: env(safe-area-inset-right);
    --rsbs-overlay-rounded: 0px;
}
[data-rsbs-overlay] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    background: var(--rsbs-bg);
    flex-direction: column;
    height: var(--rsbs-overlay-h);
    transform: translate3d(0, var(--rsbs-overlay-translate-y), 0);
    will-change: height;
  }
  [data-rsbs-overlay]:focus {
    outline: none;
  }
  [data-rsbs-is-blocking='false'] [data-rsbs-overlay] {
    box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.11),
      0 -1px 0 rgba(38, 89, 115, 0.05);
  }
  [data-rsbs-overlay],
  [data-rsbs-root]:after {
    max-width: var(--rsbs-max-w);
    margin-left: var(--rsbs-ml);
    margin-right: var(--rsbs-mr);
  }
  [data-rsbs-overlay],
  [data-rsbs-backdrop],
  [data-rsbs-root]:after {
    z-index: 3;
    overscroll-behavior: none;
    touch-action: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  [data-rsbs-backdrop] {
    top: -60px;
    bottom: -60px;
    background-color: var(--rsbs-backdrop-bg);
    will-change: opacity;
    cursor: pointer;
    opacity: 1;
  }
  [data-rsbs-is-dismissable='false'] [data-rsbs-backdrop] {
    cursor: ns-resize;
  }
  
  [data-rsbs-root]:after {
    content: '';
    pointer-events: none;
    background: var(--rsbs-bg);
    height: 1px;
    transform-origin: bottom;
    transform: scale3d(1, var(--rsbs-antigap-scale-y), 1);
    will-change: transform;
  }
  [data-rsbs-footer],
  [data-rsbs-header] {
    display: none;
    flex-shrink: 0;
    cursor: ns-resize;
    padding: 16px;
  }
  [data-rsbs-header] {
    text-align: center;
    user-select: none;
    box-shadow: 0 1px 0
      rgba(46, 59, 66, calc(var(--rsbs-content-opacity) * 0.125));
    z-index: 1;
    padding-top: calc(20px + env(safe-area-inset-top));
    padding-bottom: 8px;
  }
  [data-rsbs-header]:before {
    position: absolute;
    content: '';
    display: block;
    width: 36px;
    height: 4px;
    top: calc(8px + env(safe-area-inset-top));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: var(--rsbs-handle-bg);
  }
  @media (min-resolution: 2dppx) {
    [data-rsbs-header]:before {
      transform: translateX(-50%) scaleY(0.75);
    }
  }
  [data-rsbs-has-header='false'] [data-rsbs-header] {
    box-shadow: none;
    padding-top: calc(12px + env(safe-area-inset-top));
  }
  [data-rsbs-scroll] {
    flex-shrink: 1;
    flex-grow: 1;
    -webkit-tap-highlight-color: revert;
    -webkit-touch-callout: revert;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    overflow: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }
  [data-rsbs-scroll]:focus {
    outline: none;
  }
  [data-rsbs-has-footer='false'] [data-rsbs-content] {
    padding-bottom: env(safe-area-inset-bottom);
  }
  [data-rsbs-content] {
    /* The overflow hidden is to ensure any margin on child nodes are included when the resize observer is measuring the height */
    overflow: hidden;
  }
  [data-rsbs-footer] {
    box-shadow: 0 -1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity) * 0.125)),
      0 2px 0 var(--rsbs-bg);
    overflow: hidden;
    z-index: 1;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
  
  [data-rsbs-is-dismissable='true'],
  [data-rsbs-is-dismissable='false']:matches([data-rsbs-state='opening'], [data-rsbs-state='closing']) {
    & :matches([data-rsbs-header], [data-rsbs-scroll], [data-rsbs-footer]) > * {
      opacity: var(--rsbs-content-opacity);
    }
    & [data-rsbs-backdrop] {
      opacity: var(--rsbs-backdrop-opacity);
    }
  }
  
  [data-rsbs-state='closed'],
  [data-rsbs-state='closing'] {
    /* Allows interactions on the rest of the page before the close transition is finished */
    pointer-events: none;
  }