.apply-modal-container {
    textarea {
        width: calc(100% - 1.5rem);
        border: 1px solid #e2e2e2;
        border-radius: 0.25rem;
        background-color: #ffffff;
        padding: 0.625rem 0.75rem;
        font-size: 0.688rem;
        height: 6rem;
        margin-bottom: 2rem;
        resize: none;
        color: #929699;
    }
    textarea:focus-visible {
        outline: none;
    }
}
.apply-modal-sub-title-container {
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
  padding: 0 !important;
  span {
    font-size: 0.875rem;
    font-weight: bold;
  }
  &.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.apply-modal-helper-text-container {
    width: 100%;
    color: #929699;
    padding: 0 !important;
    span {
        font-size: 0.75rem;
    }
}
.apply-modal-switch {
    & .MuiSwitch-colorSecondary.Mui-checked {
        color:  #fff;
    }
    & .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: #006ed9;
        opacity: 1;
      }
}