@import '../../../scss/variables';

.applied-studies-page{
    &-bg{
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
    }
    &-container{
        align-self: center;
        width: 100%;
        max-width: $maxContentWidth;
    }
}