.signup-default {
  width: 100%;
  height: auto;
  background-color: var(#f2f3f5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.signup-boxcontainer{
  width: 100%;
}
