@import '../../../scss/variables';

@mixin title{
    font-size: 1.125rem !important;
    color: #4c4c4c !important;
    font-weight: bold !important;
    margin-bottom: 1rem;
}
@mixin subtitle {
    font-size: 0.688rem;
    color: #929699; 
    font-weight: normal;
    margin-bottom: 1rem;
}

.profile-edit{
    &-container{
        display: flex;
        flex-direction: column;
        padding:2.5rem 1.25rem 5rem 1.25rem;
    }
    &-image{
        &-container{
            width: 9rem;
            height: 9rem;
            align-self: center;
        }
        &-img{
            width: 100% !important;
            height: 100% !important;
            border: 1px solid #e2e2e2;
            border-radius: 4.5rem;
        }
        &-icon{
            &-container{
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                background-color: #adb1ba !important;
                width: 2rem !important;
                height: 2rem !important;
                border-radius: 6px !important;
                margin-top: -2rem !important;
                margin-left: 7rem !important;
                z-index: 3 !important;
            }
            &-{
                width: 1.315rem !important;
                width: 1.315rem !important;
            }
        }
        
    }
    
    &-title{
        @include title();
    }
    &-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    &-required-text{
        @include subtitle();
        color: #636363;
    }
    &-nickname{
        &-input{
            margin-top: 4.5rem !important;
        }
    }
    &-row-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &-column-container{
        display: flex;
        flex-direction: column;
    }
    &-major{
        &-input{
            margin-top: 0.5rem;
        }
    }
    &-grade{
        &-subtitle{
            @include subtitle;
        }
        &-select{
            flex:1;
            margin-top: 0.5rem !important;
            margin-right: 1rem !important;
        }
    }
    &-status{
        &-select{
            margin-top: 0.5rem !important;
            flex:2;
        }
    }
    &-category{
        &-text-container{
            display: flex;
            padding: 0.75rem 0.625rem;
            background-color: #ffffff;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &-edit{
            font-size: 0.688rem;
            font-weight: bold;
            color:#212b36;
            margin-left: 50px;
            white-space: nowrap;
        }
    }
    &-short-intro{
        &-input{
            margin-top: 0.5rem;
        }
        &-subtitle{
            @include subtitle();
            color: #929699 !important;
        }
    }
    &-url{
        &-add-icon{
            width: 2.25rem !important;
            height: 2.25rem !important;
            border-radius: 6px !important;
            border: 1px solid #e2e2e2 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff !important;
            align-self: center !important;
            margin-top: 1rem !important;
        }
        &-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex:1;
            background-color: #ffffff;
            margin-top: 0.5rem;
        }
    }
    &-edit-button{
        display: flex;
        position: fixed;
        bottom: 2.5rem;
        width: 100% !important;
        max-width: $maxContentWidth !important;
        align-self: center;
    }
    &-edit-button-shadow{
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
    }
}
.divider{
    height: 0.063rem;
    background-color: #e2e2e2;
    margin: 1.969rem 0 1.469rem;
}
.mt8{
    margin-top: 0.5rem;
}
.mt24{
    margin-top: 1.5rem;
}
.mt40{
    margin-top: 2.5rem;
}
.ml16{
    margin-left: 1rem;
}
.mt2rem{
    margin-top: 2rem;
}
.mb0_5rem{
    margin-bottom: .5rem !important;
}
.flex-grow-1{
    flex-grow:1;
}
.mt4_5rem{
    margin-top: 4.5rem !important;
}