@import "./scss/mixins";

@include desktop {
  .router-con {
    margin-top: $main-top-margin;
  }
  .main-con {
    display: flex;
    justify-content: center;
  }
}
@include tablet {}
@include mobile {}