@import "./scss/mixins";

@include desktop {
  .router-con {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: $maxContentWitdh;
  }
  .main-con {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 5fr;
  }
}
@include tablet {}
@include mobile {}