@import "./scss/mixins";

body {
  @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

  font-family: "Noto Sans KR", sans-serif !important;
  margin: 0px;
  font-size: 18px;
  background-color: #fafafa;
  button {
    border: none;
    background-color: transparent;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

button{
  cursor:pointer;
}

@include desktop {
  html{
     font-size: 24px;
  }
}
@include tablet {
  html{
    font-size: 16px;
 }
}
@include mobile {
  html{
    font-size: 16px;
 }
}