@import "../../scss/variables";

.studyPage-con {
  // width: $mainContentMaxWidth;

}
.studyPage-title {
  display: flex;
  align-items: flex-end;
}
.studyPage-Toolbar-con {
  background-color: #f2f3f5;
  display: flex;
  justify-content: center;
}
.studyPage-Toolbar-wrap {
  width: 100%;
  max-width: $mainContentMaxWidth;
}
.studyPage-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: $studyTitleColor;
}
.studyPage-category {
  font-size: 1.5rem;
  color: $studyCategoryTexteColor;
}