$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$background-color: #FAFAFA;

//Colors
$footer-color: #f7f8ff;
$main-color: #0016bc;
$header-color: #06529d;


//witdh
$maxContentWitdh: 1920;

//header
$header-height: 60px;

//side bar
$side-bar-top-margin: 40px;
$sideBarWidth: 16.1vw;

//main
$main-top-margin: 100px;
$mainContentMaxWidth: 1192px;
$mainContentWitdh: 62.1vw;
