$breakpoint-mobile: 360px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$background-color: #FAFAFA;

//Colors
$footer-color: #f7f8ff;
$header-color: #06529d;
$searchBarRequestInfoBackColor: #efeeee;
$StudyDetailContentTextColor: #4c4c4c;
$StudyDetailTitleTextColor: #4c4c4c;
$StudyDetailInfoColor: #b1b1b1;
$BodyBackgroundColor: #F2F3F5;


//witdh
$maxContentWidth: 796px;
$mobileMaxContentWidth:1024px;
$desktopMaxContentWidth: 1228px;

//header
$header-height: 2.75rem;
$headerMaxWitdh: 1200px;
$headerHeight_m: 40px;

//side bar
$side-bar-top-margin: 40px;
$sideBarWidth: 16.1vw;
$categoryColor: #06529d;
$subCategoryColorOn:#06529d;
$subCategoryColorOff:#818181;


//main
$main-top-margin: 100px;
$mainContentMaxWidth: 1192px;
$mainContentWitdh: 1200px;

$studyTitleColor: #173868;
$studyCategoryTexteColor: #06529d;

//study
$studySubCategoryListBackgroundColor: #5b81a4;

//togglr button
$studySubCategroyButtonOnTextColor:#184ea1;
$studySubCategroyButtonOffTextColor: #fafafa;
$studySubCategroyButtonOnBackColor:#fafafa;

//back button
$backButtonHeight: 44px;

// padding
$horizontalPadding: 12px;

// 
// refactor
// 

// Contrast main color 
$primaryColor: #1574e3;
$secondaryColor: #ec6666;

// Contrast light color
$primaryLightColor: #e5f2ff;

// Background color
$serviceBackgroundColor: #f9f9f9;