.common-text-field{
    .MuiFilledInput-root{
        background-color: white !important;
        border: 1px solid #e2e2e1 !important;
        font-size: 1rem !important;
        color: #1a1a1a !important;
        border-radius: .375rem !important;
    }
    .MuiOutlinedInput-root.Mui-blurred{
        border-color: red;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: black;
    }
    .MuiInput-underline:after{
        border-bottom-color: red !important;
    }
}