@import "@scss/mixins";
@import "@scss/variables";

@mixin desktop-cta-btn {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16) !important;
  border-radius: .5rem !important;
  font-size: .833rem !important;
  font-weight: bold !important;
  border: none !important;
}

.studyDetailContainer {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  align-items: center !important;
  .studyDetailBg{
    background-color: $primaryColor !important;
    max-width: $mobileMaxContentWidth !important;
    width:100% !important;
    @include desktop{
      max-width: none !important;
      background-color: transparent !important;
    }
    .study-desktop{
      &-header-container{
        @include desktop{
          display: flex !important;
          flex-direction: column !important;
          margin: auto !important;
          background-color: $primaryColor !important;
          width: 100% !important;
        }
      }
      &-header-wrapper{
        @include desktop{
          display: flex !important;
          flex-direction: column !important;
          width: 100% !important;
          max-width: $desktopMaxContentWidth !important;
          margin: auto !important;
        }
      }
      &-content-container{
        @include desktop{
          display: flex !important;
          flex-direction: column !important;
          background-color: transparent !important;
          width: 100% !important;
          margin: auto !important;
          margin-top: 2rem !important;
        }
      }
      &-content-wrapper{
        @include desktop{
          display: flex !important;
          flex-direction: row !important;
          width: 100% !important;
          max-width: $desktopMaxContentWidth !important;
          margin: auto !important;
        }
      }
    }
    .backButtonContainer {
      position: sticky;
      padding-top: 0.625rem;
      margin: 0rem 0.75rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .icn-btn{
      width:1.5rem;
      height:1.5rem;
    }
  }
}

.desktop-cta{
  &-container{
    display: none !important;

    @include desktop{
      display: flex !important;
      flex: 1 !important;
      margin-right: 1.5rem !important;
      margin-left: .75rem !important;
    }
    @include tablet{
      display: none !important; 
    }
    @include mobile{
      display: none !important;
    }
  }
  &-apply{
    @include desktop-cta-btn();
    color: #f9f9f9 !important;
    background-color: #1574e3 !important;
    padding: 3.2rem 0 !important;
  }
  &-bookmark{
    @include desktop-cta-btn();
    color: #393939 !important;
    background-color: #ffffff !important;
    padding: 1rem 0 !important;
    margin-top: .916rem !important;
  }
}



.study-apply-btn{
  &-container{
    display: flex;
    flex:1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    max-width: $mobileMaxContentWidth;
    box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.08);  
    @include desktop{
      display: none !important;
    }
  }
  &-padding-container{
    padding:1rem;
    display: flex;
    flex:1;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-bookmark{
    width:1.5rem;
    height:1.5rem;
  }
  &-wrapper{
    margin-left: 1.5rem;
    flex:1;
  }
}
.mr11{
  margin-right: 0.5rem;
}