@import 'src/scss/mixins';
@import '/src/scss/variables';

.studyDetailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .studyDetailBg{
    background-color: #0e5dd3;
    max-width: $maxContentWidth !important;
    width:100%;
    .backButtonContainer {
      position: sticky;
      padding-top: 54px;
      margin: 0px 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.study-apply-btn{
  &-container{
    display: flex;
    position: fixed;
    bottom: 48px;
    width: 100%;
    max-width: $maxContentWidth;
    align-self: center;
  }
  &-content{
    margin: 0px 24px;
    background-color: #006ed9;
    padding: 12px 0px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(18, 73, 155, 0.35);
    width: calc(100vw - 48px);
  }
}
.mr11{
  margin-right: 11px;
}