.apply-modal-container {
    padding: 1.5rem 0 3.5rem !important;
    button {
        width: 100%;
        height: 3rem;
        border-radius: 0.75rem !important;
        background-color: #e5f0fb !important;
        color: #006ed9 !important;
        font-weight: bold !important;
        margin-top: 10rem;
    }
    button.MuiButton-root.Mui-disabled {
        background: #ececec !important;
        color: #b4b4b4 !important;
    }
    textarea {
        width: calc(100% - 1.5rem);
        border: 1px solid #e2e2e2;
        border-radius: 0.25rem;
        background-color: #ffffff;
        padding: 0.625rem 0.75rem;
        font-size: 0.688rem;
        // min-height: 7.5rem;
        height: 6rem;
        margin-bottom: 2rem;
        resize: none;
        color: #929699;
    }
    textarea:focus-visible {
        outline: none;
    }
}
.apply-modal-title-container {
  margin-bottom: 2.5rem;
  padding: 0 !important;
  text-align: center;
  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  svg {
    cursor: pointer;
    position: absolute;
    right: 1.25rem;
  }
}
.apply-modal-sub-title-container {
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
  padding: 0 !important;
  span {
    font-size: 0.875rem;
    font-weight: bold;
  }
}
.apply-modal-helper-text-container {
    width: 100%;
    color: #929699;
    padding: 0 !important;
    span {
        font-size: 0.75rem;
    }
}
.apply-modal-switch {
    & .MuiSwitch-colorSecondary.Mui-checked {
        color:  #fff;
    }
    & .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: #006ed9;
        opacity: 1;
      }
}