@import "@scss/variables";
@import "@scss/mixins";

.studyList-con {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  @include desktop {
    width: 100% !important;
    margin: 0 !important;
  }
}
.studyList-wrap {
  width: 100%;
  max-width: $maxContentWidth;
}
.studyList-dropdown {
  display: flex;
  justify-content: end;
}
.studyList-listAndBoards-con{
  margin-top: .75rem;
  display: flex;
  @include desktop {
    margin: 0 !important;
  }
}
.studyList{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.studyList-borad-con {
  margin-left: 1.5rem;
  width: 17.625rem;
}