@import '../../../scss/variables';

.my-profile-edit-page{
    &-bg{
        display: flex;
        flex-direction: column;
        background-color: #f2f3f5;
    }
    &-container{
        align-self: center;
        width: 100%;
        max-width: $maxContentWidth;
    }
    
}