@import '../../../../scss/mixins';

@mixin emptyButton($backgroundColor){
    display: flex;

    width: 160px;
    height: 40px;

    justify-content: center;
    align-items: center;

    background-color: $backgroundColor;

    border-radius: 28px;

    margin-top: 18px;
}

@mixin emptyContainer(){
    display: flex;
    flex-direction: column;

    width: 100%;
    height:14.8%;
    //min-width: 1180px;
    min-height: 160px;

    background-color: #f7f8ff;

    justify-content: center;
    align-items: center;
}

@mixin title {
    font-size:24px;
    color:#1a1a1a;
    line-height: 35px;

    margin-bottom: 1.9%;
}

@include desktop {
    .container {
        display: flex;
        flex:1;
        flex-direction: column;
    }
    
    .emptyStudyContainer{
        @include emptyContainer();
        margin-bottom: 4.2%;
    }
    .emptyBoardContainer{
        @include emptyContainer();
        margin-bottom: 19%;
    }
    .emptyText{
        font-size: 18px;
        color:#818181;
        line-height: 26px;
    }

    .studyTitle{
        @include title();
        margin-top: 3.7%;
    }
    .boardTitle{
        @include title();
    }
    
    .emptyStudyButton{
        @include emptyButton(#43b9be)
    }
    .emptyBoardButton{
        @include emptyButton(#233dff)
    }
    
    .emptyButtonText{
        font-size: 16px;
        line-height: 28px;
        color: #ffffff;
    }
    
    button:active{
        opacity: 0.3;
    }
  }
  @include tablet {}
  @include mobile {}

